:root{
    --heading-height: 40px;
    --section-full-height-heading: calc(100vh - var(--heading-height));
    --section-half-height-heading: calc(50vh - var(--heading-height));
    --section-quarter-height-heading: calc(25vh - var(--heading-height));
    --section-full-height: 100vh;
    --section-half-height: 50vh;
    --section-quarter-height: 25vh;
    --sidebar-width: 200px;
    --padding-space: 30px;
    --technology-icon: 40px;
    --divisor-space: 20px;
    --background-color: #333333;
    --background-color-light: #717171;
    --text-color: #E2E2E2;
    --effect-color: #6874E8;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*:link{
     color: var(--text-color);
     text-decoration-line: none;
 }

*:visited{
    color: var(--text-color);
    text-decoration-line: none;
}
/*
body::-webkit-scrollbar{
    display: none;
}
*/

body{
    overflow-y: hidden;
}

.grid{
    display: grid;
    grid-template-columns: var(--grid-n-column);
    grid-template-rows: var(--grid-n-row);
}

.flex{
    display: flex;
}

.centered{
    justify-content: center;
    align-items: center;
}

.vertical-direction{
    flex-direction: column;
}

.monospace{
    white-space: nowrap;
    overflow: hidden;
    font-family: monospace;
    font-size: 2em;
}

.title{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.mouse-pointer{
    cursor: pointer;
}

/* Start Main-container */

.main-container{
    align-items: stretch;
    background-color: var(--background-color);
}

.filler{
    flex: 1 0 var(--heading-height);
}

/* End Main-container */

/* To be eliminated*/
.white{
    background-color: white;
}
.purple{
    background-color: purple;
}
.yellow{
    background-color: yellow;
}
.test{
    height: var(--section-full-height-heading);
}