:root{
    --heading-height: 40px;
    --section-full-height: calc(100vh - var(--heading-height));
    --section-half-height: calc(50vh - var(--heading-height));
    --section-quarter-height: calc(25vh - var(--heading-height));
    --sidebar-width: 200px;
    --padding-space: 30px;
    --technology-icon: 40px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:link{
     color: #E2E2E2;
     text-decoration-line: none;
 }

*:visited{
    color: #E2E2E2;
    text-decoration-line: none;
}

body::-webkit-scrollbar{
    display: none;
}

.grid{
    display: grid;
    grid-template-columns: var(--grid-n-column);
    grid-template-rows: var(--grid-n-row);
}

.flex{
    display: flex;
}

.centered{
    justify-content: center;
    align-items: center;
}

.vertical-direction{
    flex-direction: column;
}

.monospace{
    white-space: nowrap;
    overflow: hidden;
    font-family: monospace;
    font-size: 2em;
}

/* Start Main-container */

.main-container{
    align-items: stretch;
    background-color: #333333;
}

.filler{
    flex: 1 0 var(--heading-height);
}

/* End Main-container */

/* To be eliminated*/
.white{
    background-color: white;
}
.purple{
    background-color: purple;
}
.yellow{
    background-color: yellow;
}