@keyframes typingIn {
    from {
        width: 0
    }
    to {
        width: var(--chars)
    }
}

@keyframes typingOut {
    from {
        width: var(--chars)
    }
    to {
        width: 0
    }
}


@keyframes blink {
    50% {
        border-color: transparent
    }
}

@keyframes pulse {
    0%{
        r: 20px;
        opacity: 0;
    }
    100%{
        r: 30px;
        opacity: 100%;
    }
}