.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--heading-height);
    background-color: var(--background-color);
    color: var(--text-color);
    --grid-n-column: 1fr 1fr 1fr;
    --grid-n-row: 1fr;
    border-bottom-width: 1px;
    border-bottom-color: var(--background-color-light);
    border-bottom-style: solid;
    z-index: 999;
}

.logo-container{
    justify-content: flex-end;
    padding-right: var(--padding-space);
}

.logo{
    width: var(--heading-height);
    height: var(--heading-height);
}

.burger-container{
    justify-content: flex-start;
    padding-left: var(--padding-space);
}

#portfolioTitle{
    font-family: monospace;
    animation: blink .5s step-end infinite alternate;
    border-right: 3px solid;
}