.project-table{
    height: var(--section-quarter-height);
    --grid-n-column: 1fr 1fr 1fr;
    --grid-n-row: 1fr;
}

.project{
    background-image: linear-gradient(var(--effect-color),var(--effect-color)),
    linear-gradient(var(--effect-color),var(--effect-color));
    background-repeat: no-repeat;
    background-size: calc(50% + 1px) 0.8em;
    background-position: -101% 0, 201% 100%;
    transition: background-size 0.5s 1s, background-position 0.5s 1.5s;
    background-color: var(--background-color);
}

.project:hover {
    transition: background-size 0.5s 0.5s, background-position 0.5s;
    background-size: calc(50% + 1px) 100%;
    background-position: 0 0,100% 100%;
}

.playPerformance-technologies{
    --grid-n-column: 1fr var(--technology-icon) var(--technology-icon) var(--technology-icon) var(--technology-icon)
    var(--technology-icon) var(--technology-icon) var(--technology-icon) 1fr;
    --grid-n-row: 1fr;
    grid-gap: 20px;
}

.goToProject{
    --width: 16;
    --chars: 16ch;
}

.technology{
    width: var(--technology-icon);
    height: var(--technology-icon);
}

.dependencyInjector-technologies{
    --grid-n-column: 1fr var(--technology-icon) 1fr;
    --grid-n-row: 1fr;
    grid-gap: 20px;
}

.portfolio-technologies{
    --grid-n-column: 1fr var(--technology-icon) var(--technology-icon) var(--technology-icon) 1fr;
    --grid-n-row: 1fr;
    grid-gap: 20px;
}

.typingEffect {
    width: 0;
    border-right: 3px solid;
    visibility: hidden;
    transition: visibility 1s step-end,width 1s step-end;
}

.project.hovered .typingEffect {
    animation: typingOut 1s steps(var(--width)), blink .5s step-end infinite alternate;
}

.project:hover .typingEffect {
    width: var(--chars);
    animation: 1s typingIn 1s steps(var(--width)), blink .5s step-end infinite alternate;
    visibility: visible;
}
